extends layout 

block main 
  .flex
    .inputDisplay
      form(action="/newCombo" method="post")
        dl 
          dt
            label(for="altItem") What do you need an alterative of?
          dd 
            input.form(type="text"
                  id="firstAlt"
                  name="firstAlt"
                  placeholder="Substitute id")
          dd
            input.form(type="text"
                  id="secondAlt"
                  name="secondAlt"
                  placeholder="opt secondary substitute id")
          dd 
            input.form(type="text"
                  id="altFor"
                  name="altFor"
                  placeholder="id of ingredient for alt")
          dd 
            input.form(type="text"
                  id="ratio"
                  name="ratio"
                  placeholder="is it 1:1, 2:3?")
          dd 
            input.form(type="text"
                  id="note"
                  name="note"
                  placeholder="What should we know about this alt?")

          fieldset.actions 
            input#submit(type="submit" value="ENTER")

          .button 
            .action 
              a.button.cancel(href="/home") CANCEL 
        

    .inputDisplay.main-list
      h2.title Ingredients List
      ul#ingredientsList 
        each ingredient in ingredientsList 
          p#item= `${Object.values(ingredient)}`

  //- .lists
    .lists-flex.main-list
      ul#ingredientsList 
        each ingredient in ingredientsList 
          p= `${Object.values(ingredient)}`
 

block headerLinks 
  //- .button 
    .action 
      a.button.home(href="/home") Home