extends layout 

block main 
  form(action="/newCombo" method="post")
    dl
      dt 
        label(for="altItem") What do you need an alterative of?
      dd 
        input(type="text"
              id="firstAlt"
              name="firstAlt"
              placeholder="First alternative id")
      dd 
        input(type="text"
              id="secondAlt"
              name="secondAlt"
              placeholder="optional second id")
      dd 
        input(type="text"
              id="altFor"
              name="altFor"
              placeholder="id of ingredient for alt")
      dd 
        input(type="text"
              id="ratio"
              name="ratio"
              placeholder="is it 1:1, 2:3?")

      dd 
        input(type="text"
              id="note"
              name="note"
              placeholder="What should we know about this alt?")

      fieldset.actions 
        input(type="submit" value="Enter")

  .lists
    .lists-flex.main-list
      ul#ingredientsList 
        each ingredient in ingredientsList 
          p= ingredient

block headerLinks 
  .action 
    a(href="/home") Home





