extends layout 

block main
  .navi 
    a.button.home(href="/newMain") ADD INGREDIENT 
    a.button.home(href="/newCombo") ADD SUBSTITUTE

  .flex
    .inputDisplay.main-list
      ul#ingredientsList.homePage
        each ingredient in ingredientsList 
          a(href=`/home/${Number(ingredient.id)}`)
            p#item= ingredient.name

    .inputDisplay.substitute-display
      p= `${altInfo}`

  //- .flex
    .lists-flex.main-list
      ul#ingredientsList 
        each ingredient in ingredientsList 
          button#item(onclick="grabString(#{ingredient.id})")=ingredient.name
 
    .lists-flex.substitute-display
      p= `${altInfo}` 

    script(type='text/javascript').
      {
        function grabString(id) {
          //- console.log(document.getElementById('item').innerHTML);
          //- console.log(`this id is ${id}`;
          document.getElementById('item').innerHTML = "testing"
        };
      }



//- block headerLinks 
  .button
    .navi
      .action 
        a.button.home(href="/newMain") ADD INGREDIENT
        a.button.home(href="/newCombo") ADD SUBSTITUTE
    

