extends layout 

block main
  .flex
    .lists-flex.main-list
      ul#ingredientsList 
        each ingredient in ingredientsList 
          a(href=`/home/${Number(ingredient.id)}`)
            p= ingredient.name

    .lists-flex.substitute-display
      p= `${altInfo}`

  //- .flex
    .lists-flex.main-list
      ul#ingredientsList 
        each ingredient in ingredientsList 
          button#item(onclick="grabString(#{ingredient.id})")=ingredient.name
 
    .lists-flex.substitute-display
      p= `${altInfo}` 

    script(type='text/javascript').
      {
        function grabString(id) {
          //- console.log(document.getElementById('item').innerHTML);
          //- console.log(`this id is ${id}`;
          document.getElementById('item').innerHTML = "testing"
        };
      }



block headerLinks 
  .button
    .action 
      a.navi-flex.navi(href="/newMain") New Ingredient 
      a.navi-flex.navi(href="/newCombo") New Alternative
  

