extends layout 

block main
  .navi.left
    a.button.left(href="/newMain") ADD INGREDIENT 
  .navi.right
    a.button.right(href="/newCombo") ADD SUBSTITUTE

  .flexDisplay
    .inputDisplay.main-list
      ul#ingredientsList.homePage
        each ingredient in ingredientsList 
          a(href=`/home/${Number(ingredient.id)}`)
            p#item= ingredient.name

    .inputDisplay.substitute-display
      p= `${substitute} ${secondSub}`
      p= `${ratio}`
      p= `${note}`